<p>
    <img src="https://cdn.discordapp.com/attachments/744260630046965830/1006930128774905866/autoworkstations.png" width="600" />
</p>

<p>
    <a href="https://discord.gg/xQke7DpYMT">
        <img src="https://media.discordapp.net/attachments/896003270982651955/975482152735109170/unknown.png" width="400" />
    </a>
</p>

<br />
<br />

<p>
    Auto Workstations adds automated versions for many of the vanilla workstations, including:

    <ul>
        <li>Crafting Table</li>
        <li>Furnace</li>
        <li>Enchanting Table</li>
        <li>Brewing Stand</li>
    </ul>

    Although some of these may already seem automatable, such as the furnace, this mod allows the automation of XP collection from them.
    <br />
    Each auto workstation in the mod has an iron and gold version, with the gold version being faster.
</p>

<br />
<br />

<p>
    <img src="https://cdn.discordapp.com/attachments/744260630046965830/1006923543797313556/unknown.png" width="600" />
    <br />
    <br />
    <img src="https://media.discordapp.net/attachments/896003270982651955/975459867303223306/ezgif-1-13471e3fb8.gif" width="600" />
</p>

<br />
<br />

<p>
    <img src="https://cdn.discordapp.com/attachments/744260630046965830/1006924882954694756/unknown.png" width="600" />
    <br />
    <br />
    Auto Furnaces allows the automated extraction of XP. Empty glass bottles can be inserted, and they will be filled with XP to product bottles o' enchanting.
    <br />
    <br />
    <img src="https://media.discordapp.net/attachments/896003270982651955/975458296393789560/ezgif-1-7a795cf431.gif" width="600" />
</p>

<br />
<br />

<p>
    <img src="https://cdn.discordapp.com/attachments/744260630046965830/1006925280910266438/unknown.png" width="600" />
    <br />
    <br />
    Auto Enchanting Tables can store XP, this works like a player's XP bar where each level takes longer to fill then the last. Bottles o' enchanting can be inserted and emptied into these and will output empty glass bottles.
    <br />
    <br />
    <img src="https://media.discordapp.net/attachments/896003270982651955/975458555673083974/ezgif-1-b7d8f1ac1b.gif" width="600" />
</p>

<br />
<br />

<p>
    <img src="https://cdn.discordapp.com/attachments/744260630046965830/1006926016121417768/unknown.png" width="600" />
    <br />
    <br />
    This block can suck up nearby XP orbs and bottle them up like the Auto Furnace. The gold version has a larger range than the iron one.
    <br />
    <br />
    <img src="https://media.discordapp.net/attachments/896003270982651955/975452161498574898/ezgif-3-345f487dbe.gif" width="600" />
    <br />
    <br />
    <img src="https://media.discordapp.net/attachments/896003270982651955/975452439270539334/ezgif-3-86334f6680.gif" width="600" />
</p>

<br />
<br />

<p>
    <img src="https://cdn.discordapp.com/attachments/744260630046965830/1006926372855353475/unknown.png" width="600" />
    <br />
    <br />
    Auto Anvils can store XP, this works like a player's XP bar where each level takes longer to fill then the last. Bottles o' enchanting can be inserted and emptied into these and will output empty glass bottles.
    <br />
    <br />
    <img src="https://media.discordapp.net/attachments/896003270982651955/975458821285744700/ezgif-1-f7f5963b0e.gif" width="600" />
    <br />
    <br />
    <img src="https://media.discordapp.net/attachments/896003270982651955/975459096499208232/ezgif-1-95c62ded9c.gif" width="600" />
</p>

<br />
<br />

<!--
<p>
    <img src="https://cdn.discordapp.com/attachments/744260630046965830/1006926619090366514/unknown.png" width="600" />
    <br />
    <br />
    Coming soon...
</p>
-->

<br />
<br />

<p>
    Hoppers can be attached to these to allow complete automation.
    <br />
    <br />
    Other automated workstations are also planned:
    <ul>
        <li>Grindstone</li>
        <li>Smiting table</li>
    </ul>
    <span style="color: red;">This mod is in beta, if you find an issue please contact me on discord via <a href="https://discord.gg/xQke7DpYMT">my Discord server</a> or by emailing <a href="mailto:billyg270@gmail.com">billyg270@gmail.com</a></span>
    <br />
    <br />
    The conveyor belts shown in some GIFs are from: <a href="https://www.curseforge.com/minecraft/mc-mods/conveyor-belts-fabric">here</a>
</p>